# The FROZEN v1 contract (ALG-620). The schema serves this file; this file never
# bends to the schema (CLAUDE.md). Implemented by ALG-625 (browse/facets) and
# ALG-626 (detail/activity/portfolio); consumed by piggygang-explorer (ALG-630),
# which generates its client from it and develops against the Prism mock
# (`docker compose up -d mock`).
#
# Conventions:
#   * JSON fields are camelCase (pre-committed by the migrations, e.g.
#     `NftDetail.metadataUri` in 20260829000300_assets_attributes.sql:26).
#   * Enum VALUES are the Postgres CHECK literals verbatim (snake_case), which
#     is what crates/data-model/src/types.rs already serializes.
#   * Every property is `required`; nullable ones are serialized as explicit
#     null. Clients get `T | null`, never `T | null | undefined`.
#   * On-chain addresses live only in config/ (CLAUDE.md). Every address and
#     signature below is SYNTHETIC — the SYN/HLD/SIG prefixes mark them.
openapi: 3.1.0

info:
  title: PiggyGang Indexer API
  version: 1.0.0
  summary: Read-only index of the PiggyGang Solana NFT collections.
  description: |
    Public, read-only, unauthenticated JSON API over the PiggyGang indexer.

    ## Versioning

    The major version is a **path prefix** (`/v1/...`) — not a header, not a
    media type, and deliberately **not** part of the server URL. Keeping it in
    the path means the Prism mock (which has no basePath support) serves exactly
    the URLs production serves, so switching the Explorer between them is one
    environment variable.

    `/v1` is frozen. Additive changes only: new endpoints, new optional query
    parameters, new response fields, new members of a *request* enum, new
    response headers. Anything else — removing or renaming a field, changing a
    type or nullability, making a parameter required, or adding a member to a
    *response* enum that is not already reserved — requires `/v2`.

    `/health` and `/ready` are operational endpoints. They live outside `/v1`
    and are deliberately not described here.

    ## The browse population

    Every list and facet count over a collection uses exactly
    `collection_id = <slug> AND membershipStatus = 'member'`. **Burned assets are
    included** — the UI greys them out via `burned` — and there is deliberately
    no `burned` query filter. Only `stats.supply` and `stats.holders` exclude
    them.

    ## Pagination

    Keyset (cursor) pagination throughout, never offset. Echo `nextCursor`
    verbatim; never decode or construct one. A cursor is valid only for the
    endpoint, sort and filter set it was issued for — anything else is
    `400 invalid_cursor`, which is a normal recoverable condition (restart from
    page one), not an outage.

    Stability under live updates:
      * `sort=number` / `sort=name` — keys never move; paging is exact.
      * `sort=-activity` — the key moves. An asset that receives an event jumps
        above your cursor, so this sort **can skip rows** and can never
        duplicate them. Infinite scroll must de-duplicate by `address`.
      * activity and owners feeds are append-only and newest-first, so fetched
        pages stay stable; new events appear by re-requesting page one.

    There is no `total` on paginated envelopes: keyset pagination has no cheap
    total. The filtered result count is `FacetsResponse.total` (that endpoint
    already pays for the scan); unfiltered it is `CollectionStats.indexed`.

    ## Caching

    Every `GET` returns a weak `ETag` and a short `Cache-Control`. Send
    `If-None-Match` to get `304`. The exact `max-age` is operational and may
    change without a version bump — depend on the header's presence, not its
    value.

    ## Errors

    `{ "error": "<code>", "message": "...", "details": {...} }`. Switch on
    `error`; never parse `message`. An unknown trait type or value is **not** an
    error: it returns `200` with an empty result set, so a bookmarked filter URL
    survives a metadata refresh.
  contact:
    name: AlgoLab
    url: https://piggygang.net
  license:
    name: UNLICENSED
    identifier: LicenseRef-proprietary

# Public and unauthenticated. Declared explicitly so reviewers can see it was a
# decision, and so Redocly's `security-defined` rule is satisfied.
security: []

servers:
  - url: https://api.indexer.piggygang.net
    description: Production (Railway, EU West Metal / Amsterdam)
  - url: http://localhost:8080
    description: Local API — `cargo run -p indexer-api`
  - url: http://localhost:4010
    description: Prism mock — `docker compose up -d mock`

tags:
  - name: collections
    description: The registry, its stats, and everything scoped to one collection.
  - name: nfts
    description: A single asset — detail, activity timeline, ownership history.
  - name: wallets
    description: Cross-collection portfolio for one owner.
  - name: search
    description: Global smart search.

paths:
  /v1/collections:
    get:
      operationId: listCollections
      tags: [collections]
      summary: List the enabled collections
      description: >-
        The registry, seeded from `config/collections.toml`. Disabled
        collections are never returned. Four rows today, so this is a single
        page in practice — the envelope is paginated for consistency, not need.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: A page of collections.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Vary: { $ref: '#/components/headers/Vary' }
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CollectionPage' }
              examples:
                registry:
                  summary: The four registered collections
                  value:
                    data:
                      - slug: piggy-sol-gang
                        name: Piggy SOL Gang
                        standard: token_metadata
                        membershipRule: tm_allowlist
                        address: null
                        symbol: PSG
                        imageUrl: null
                        stats:
                          supply: 9987
                          holders: 3142
                          burned: 13
                          indexed: 10000
                          activity24h: 42
                          activity7d: 318
                          lastActivityAt: '2026-08-30T21:14:22Z'
                          holderDistribution:
                            - { label: '1', minCount: 1, maxCount: 1, holders: 2401, assets: 2401 }
                            - { label: '2-5', minCount: 2, maxCount: 5, holders: 612, assets: 1789 }
                            - { label: '6+', minCount: 6, maxCount: null, holders: 129, assets: 5797 }
                          asOf: '2026-08-30T21:15:00Z'
                      - slug: piggy-girl-gang
                        name: Piggy Girl Gang
                        standard: token_metadata
                        membershipRule: tm_allowlist
                        address: null
                        symbol: PGG
                        imageUrl: null
                        stats:
                          supply: 5000
                          holders: 1877
                          burned: 0
                          indexed: 5000
                          activity24h: 11
                          activity7d: 96
                          lastActivityAt: '2026-08-30T18:02:10Z'
                          holderDistribution:
                            - { label: '1', minCount: 1, maxCount: 1, holders: 1402, assets: 1402 }
                            - { label: '2-5', minCount: 2, maxCount: 5, holders: 388, assets: 1121 }
                            - { label: '6+', minCount: 6, maxCount: null, holders: 87, assets: 2477 }
                          asOf: '2026-08-30T21:15:00Z'
                      - slug: pig-mud
                        name: Pig Mud
                        standard: token_metadata
                        membershipRule: tm_allowlist
                        address: null
                        symbol: PMUD
                        imageUrl: null
                        stats:
                          supply: 2073
                          holders: 894
                          burned: 0
                          indexed: 2073
                          activity24h: 3
                          activity7d: 27
                          lastActivityAt: '2026-08-29T11:44:03Z'
                          holderDistribution:
                            - { label: '1', minCount: 1, maxCount: 1, holders: 701, assets: 701 }
                            - { label: '2-5', minCount: 2, maxCount: 5, holders: 152, assets: 449 }
                            - { label: '6+', minCount: 6, maxCount: null, holders: 41, assets: 923 }
                          asOf: '2026-08-30T21:15:00Z'
                      - slug: piggy-gang
                        name: Piggy Gang
                        standard: core
                        membershipRule: core_collection
                        address: SYN3xBu8uue8CU1AY3ruGCkWfLo6hSTRkq
                        symbol: null
                        imageUrl: null
                        stats:
                          supply: 418
                          holders: 271
                          burned: 0
                          indexed: 418
                          activity24h: 6
                          activity7d: 55
                          lastActivityAt: '2026-08-30T20:51:37Z'
                          holderDistribution:
                            - { label: '1', minCount: 1, maxCount: 1, holders: 212, assets: 212 }
                            - { label: '2-5', minCount: 2, maxCount: 5, holders: 48, assets: 141 }
                            - { label: '6+', minCount: 6, maxCount: null, holders: 11, assets: 65 }
                          asOf: '2026-08-30T21:15:00Z'
                    nextCursor: null
                    hasMore: false
        '304': { $ref: '#/components/responses/NotModified' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/collections/{slug}:
    get:
      operationId: getCollection
      tags: [collections]
      summary: One collection, with stats
      parameters:
        - $ref: '#/components/parameters/CollectionSlug'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The collection.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Vary: { $ref: '#/components/headers/Vary' }
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Collection' }
              examples:
                psg:
                  summary: Piggy SOL Gang
                  value:
                    slug: piggy-sol-gang
                    name: Piggy SOL Gang
                    standard: token_metadata
                    membershipRule: tm_allowlist
                    address: null
                    symbol: PSG
                    imageUrl: null
                    stats:
                      supply: 9987
                      holders: 3142
                      burned: 13
                      indexed: 10000
                      activity24h: 42
                      activity7d: 318
                      lastActivityAt: '2026-08-30T21:14:22Z'
                      holderDistribution:
                        - { label: '1', minCount: 1, maxCount: 1, holders: 2401, assets: 2401 }
                        - { label: '2-5', minCount: 2, maxCount: 5, holders: 612, assets: 1789 }
                        - { label: '6+', minCount: 6, maxCount: null, holders: 129, assets: 5797 }
                      asOf: '2026-08-30T21:15:00Z'
        '304': { $ref: '#/components/responses/NotModified' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/collections/{slug}/nfts:
    get:
      operationId: browseCollectionNfts
      tags: [collections]
      summary: Browse a collection with attribute filters, search and sort
      description: >-
        The browse grid. Population is member assets of the collection, burned
        included. Trait filters OR within a trait type and AND across types —
        the same semantics `/facets` reports counts for, so the grid and the
        sidebar can never disagree.
      parameters:
        - $ref: '#/components/parameters/CollectionSlug'
        - $ref: '#/components/parameters/TraitFilter'
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: A page of NFT cards.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Vary: { $ref: '#/components/headers/Vary' }
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NftPage' }
              examples:
                page:
                  summary: First page — includes a burned pig and an unnumbered one
                  value:
                    data:
                      - address: SYNarqd6dg3ZygtDhD8CNLqE8wPNdAqWv7
                        name: 'Piggy SOL Gang #1'
                        number: 1
                        imageUri: https://pub-b1a45763f0a64d8fa271f66f5514a561.r2.dev/old/images/1.png
                        imageStatus: ok
                        burned: false
                        owner: HLDAXhwhoQo8vntbEMc231443cEQijZ4B
                        lastActivityAt: '2026-08-30T21:14:22Z'
                        rarityRank: null
                        rarityScore: null
                        collection: { slug: piggy-sol-gang, name: Piggy SOL Gang, imageUrl: null }
                      - address: SYNZwSjkogfwuHn3xv5uo6GbfVPH9ybTCp
                        name: 'Piggy SOL Gang #2'
                        number: 2
                        imageUri: https://pub-b1a45763f0a64d8fa271f66f5514a561.r2.dev/old/images/2.png
                        imageStatus: dead
                        burned: true
                        owner: null
                        lastActivityAt: '2025-11-02T18:41:07Z'
                        rarityRank: null
                        rarityScore: null
                        collection: { slug: piggy-sol-gang, name: Piggy SOL Gang, imageUrl: null }
                      - address: SYNt8rKspZCUyzpJC4sx9FEqrK8SzAH6QZ
                        name: Genesis Pig
                        number: null
                        imageUri: null
                        imageStatus: unknown
                        burned: false
                        owner: HLDoLKj9p8xFdCKpffq7xNpPd3ACapACP
                        lastActivityAt: null
                        rarityRank: null
                        rarityScore: null
                        collection: { slug: piggy-sol-gang, name: Piggy SOL Gang, imageUrl: null }
                    nextCursor: eyJ2IjoxLCJzIjoibnVtYmVyIiwiayI6WzMsIjMiXSwiZiI6IjltS3AyeFExIn0
                    hasMore: true
                empty:
                  summary: 'Filters match nothing — `Prefer: example=empty`'
                  value: { data: [], nextCursor: null, hasMore: false }
                lastPage:
                  summary: 'Final page — `Prefer: example=lastPage`'
                  value:
                    data:
                      - address: SYNu6skvdET1pB8qq9EAwQ3Lj7G98W8ZQC
                        name: 'Piggy SOL Gang #10000'
                        number: 10000
                        imageUri: https://pub-b1a45763f0a64d8fa271f66f5514a561.r2.dev/old/images/10000.png
                        imageStatus: ok
                        burned: false
                        owner: HLDLnt2R49161a1QQH7vJoEaFvdtQvqrv
                        lastActivityAt: '2026-07-14T08:22:51Z'
                        rarityRank: null
                        rarityScore: null
                        collection: { slug: piggy-sol-gang, name: Piggy SOL Gang, imageUrl: null }
                    nextCursor: null
                    hasMore: false
        '304': { $ref: '#/components/responses/NotModified' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/collections/{slug}/facets:
    get:
      operationId: getCollectionFacets
      tags: [collections]
      summary: Trait types, values and counts under the active filters
      description: |
        Marketplace-style **disjunctive** faceting. Each trait type's counts are
        computed with **its own** filter removed and every other filter applied,
        so adding a second value inside a type is never a dead end, while
        selecting a value in a different type shrinks this type's numbers.

        Only facetable trait types appear (a collection's `facet_exclude`
        removes per-asset-unique traits like Girl Gang's `Name`). Values with a
        zero count are omitted. Unpaginated by contract — a collection has tens
        of trait values, not thousands.
      parameters:
        - $ref: '#/components/parameters/CollectionSlug'
        - $ref: '#/components/parameters/TraitFilter'
        - $ref: '#/components/parameters/Q'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Facet counts, plus the size of the filtered result set.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Vary: { $ref: '#/components/headers/Vary' }
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FacetsResponse' }
              examples:
                facets:
                  summary: Unfiltered facets for Piggy SOL Gang
                  value:
                    total: 10000
                    facets:
                      - traitType: Background
                        values:
                          - { value: Pink, count: 1893 }
                          - { value: Blue, count: 1755 }
                          - { value: Mud, count: 1402 }
                          - { value: Gold, count: 91 }
                      - traitType: Head
                        values:
                          - { value: Cap, count: 2210 }
                          - { value: Crown, count: 148 }
                          - { value: Halo, count: 37 }
                      - traitType: Mouth
                        values:
                          - { value: Grin, count: 3011 }
                          - { value: Cigar, count: 219 }
                emptyFacets:
                  summary: Unknown trait type — 200 with nothing, never a 4xx
                  value: { total: 0, facets: [] }
        '304': { $ref: '#/components/responses/NotModified' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/collections/{slug}/holders:
    get:
      operationId: getCollectionHolders
      tags: [collections]
      summary: Top holders of a collection
      description: >-
        Ranked by holdings descending. Burned assets have no owner, so they
        never appear here and the counts sum to `stats.supply`. Top-N only, not
        cursor-paginated: each request groups the collection's owner rows, so
        the list is capped rather than pageable. The cohort breakdown lives on
        `CollectionStats.holderDistribution`.
      parameters:
        - $ref: '#/components/parameters/CollectionSlug'
        - name: limit
          in: query
          required: false
          description: How many holders to return, ranked descending.
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The top holders.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Vary: { $ref: '#/components/headers/Vary' }
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HoldersResponse' }
              examples:
                top:
                  summary: Top holders
                  value:
                    data:
                      - { address: HLDz7xArdTQeiCeKHg3VqhhNXzZGH5qBS, count: 214, rank: 1 }
                      - { address: HLDLnt2R49161a1QQH7vJoEaFvdtQvqrv, count: 97, rank: 2 }
                      - { address: HLDAXhwhoQo8vntbEMc231443cEQijZ4B, count: 41, rank: 3 }
        '304': { $ref: '#/components/responses/NotModified' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/collections/{slug}/activity:
    get:
      operationId: getCollectionActivity
      tags: [collections]
      summary: Recent activity across a collection
      description: >-
        Newest first, ordered by `(slot, id)` descending. Each event carries the
        NFT it happened to, so a recent-activity strip renders cards without a
        second request. `?kind=mint` is the "latest mints" strip for the dynamic
        Core collection.
      parameters:
        - $ref: '#/components/parameters/CollectionSlug'
        - $ref: '#/components/parameters/ActivityKindFilter'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: A page of events, newest first.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Vary: { $ref: '#/components/headers/Vary' }
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CollectionActivityPage' }
              examples:
                feed:
                  summary: A sale and a transfer
                  value:
                    data:
                      - id: '904412'
                        kind: sale
                        signature: SgnCAZcw6LM5wbp1D8JdXCb6f4w3UFN3J96CAZcw6LM5wbp1D8JdXCb6f4w3UFN3J96CAZcw6LM5wbp1D8JdXCb
                        seq: 0
                        slot: 318442901
                        blockTime: '2026-08-30T21:14:22Z'
                        fromOwner: HLDoLKj9p8xFdCKpffq7xNpPd3ACapACP
                        toOwner: HLDAXhwhoQo8vntbEMc231443cEQijZ4B
                        priceLamports: '12500000000'
                        marketplace: Tensor
                        nft:
                          address: SYNarqd6dg3ZygtDhD8CNLqE8wPNdAqWv7
                          name: 'Piggy SOL Gang #1'
                          number: 1
                          imageUri: https://pub-b1a45763f0a64d8fa271f66f5514a561.r2.dev/old/images/1.png
                          imageStatus: ok
                          burned: false
                          owner: HLDAXhwhoQo8vntbEMc231443cEQijZ4B
                          lastActivityAt: '2026-08-30T21:14:22Z'
                          rarityRank: null
                          rarityScore: null
                          collection: { slug: piggy-sol-gang, name: Piggy SOL Gang, imageUrl: null }
                      - id: '904399'
                        kind: transfer
                        signature: SgnjWg8D9pwULg5n9KepSt3JC8NE4m9Cs7xjWg8D9pwULg5n9KepSt3JC8NE4m9Cs7xjWg8D9pwULg5n9KepSt3
                        seq: 0
                        slot: 318441077
                        blockTime: '2026-08-30T20:58:04Z'
                        fromOwner: null
                        toOwner: HLDLnt2R49161a1QQH7vJoEaFvdtQvqrv
                        priceLamports: null
                        marketplace: null
                        nft:
                          address: SYNt8rKspZCUyzpJC4sx9FEqrK8SzAH6QZ
                          name: Genesis Pig
                          number: null
                          imageUri: null
                          imageStatus: unknown
                          burned: false
                          owner: HLDLnt2R49161a1QQH7vJoEaFvdtQvqrv
                          lastActivityAt: '2026-08-30T20:58:04Z'
                          rarityRank: null
                          rarityScore: null
                          collection: { slug: piggy-sol-gang, name: Piggy SOL Gang, imageUrl: null }
                    nextCursor: eyJ2IjoxLCJzIjoiLXNsb3QiLCJrIjpbMzE4NDQxMDc3LCI5MDQzOTkiXX0
                    hasMore: true
        '304': { $ref: '#/components/responses/NotModified' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/nfts/{id}:
    get:
      operationId: getNft
      tags: [nfts]
      summary: Full detail for one NFT
      description: >-
        Addressable even when the asset has left its collection
        (`membershipStatus: removed`) or has been burned — both remain valid
        pages with valid history.
      parameters:
        - $ref: '#/components/parameters/NftId'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The NFT.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Vary: { $ref: '#/components/headers/Vary' }
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NftDetail' }
              examples:
                detail:
                  summary: A live pig with attributes, owner and history
                  value:
                    address: SYNarqd6dg3ZygtDhD8CNLqE8wPNdAqWv7
                    name: 'Piggy SOL Gang #1'
                    number: 1
                    imageUri: https://pub-b1a45763f0a64d8fa271f66f5514a561.r2.dev/old/images/1.png
                    imageStatus: ok
                    burned: false
                    owner: HLDAXhwhoQo8vntbEMc231443cEQijZ4B
                    lastActivityAt: '2026-08-30T21:14:22Z'
                    rarityRank: null
                    rarityScore: null
                    collection: { slug: piggy-sol-gang, name: Piggy SOL Gang, imageUrl: null }
                    standard: token_metadata
                    symbol: PSG
                    membershipStatus: member
                    removedAt: null
                    metadataUri: https://shdw-drive.genesysgo.net/dead/1.json
                    metadataSourceUri: https://pub-b1a45763f0a64d8fa271f66f5514a561.r2.dev/old/metadata/1.json
                    imageCheckedAt: '2026-08-28T04:00:00Z'
                    updatedAt: '2026-08-30T21:14:23Z'
                    attributes:
                      - { traitType: Background, value: Pink, position: 0, isFacet: true, rarityPct: null }
                      - { traitType: Body, value: Classic, position: 1, isFacet: true, rarityPct: null }
                      - { traitType: Head, value: Crown, position: 2, isFacet: true, rarityPct: null }
                      - { traitType: Mouth, value: Cigar, position: 3, isFacet: true, rarityPct: null }
                    ownership:
                      owner: HLDAXhwhoQo8vntbEMc231443cEQijZ4B
                      ownerSlot: 318442901
                      heldSince: '2026-08-30T21:14:22Z'
                      heldSinceSlot: 318442901
                      acquiredBySignature: SgnCAZcw6LM5wbp1D8JdXCb6f4w3UFN3J96CAZcw6LM5wbp1D8JdXCb6f4w3UFN3J96CAZcw6LM5wbp1D8JdXCb
                    mint:
                      mintedAt: '2021-09-14T17:03:11Z'
                      mintSlot: 97441201
                      signature: SgnS8C2hGJTEB8gKuwtW4rzQxwsYFg3JGZYS8C2hGJTEB8gKuwtW4rzQxwsYFg3JGZYS8C2hGJTEB8gKuwtW4rz
                    activitySummary:
                      salesCount: 4
                      transferCount: 7
                      ownerCount: 6
                      lastSalePriceLamports: '12500000000'
                      lastSaleAt: '2026-08-30T21:14:22Z'
                      lastSaleMarketplace: Tensor
        '304': { $ref: '#/components/responses/NotModified' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/nfts/{id}/activity:
    get:
      operationId: getNftActivity
      tags: [nfts]
      summary: Activity timeline for one NFT
      description: >-
        Newest first, keyset-paginated on `(slot, id)` descending — the
        "load older" timeline. v1 serves `mint`, `transfer`, `sale` and `burn`;
        other classified kinds are filtered out, so a 2021-era timeline may have
        gaps and should not be presented as complete.
      parameters:
        - $ref: '#/components/parameters/NftId'
        - $ref: '#/components/parameters/ActivityKindFilter'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: A page of events, newest first.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Vary: { $ref: '#/components/headers/Vary' }
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActivityPage' }
              examples:
                timeline:
                  summary: All four public kinds, newest first
                  value:
                    data:
                      - id: '904412'
                        kind: sale
                        signature: SgnCAZcw6LM5wbp1D8JdXCb6f4w3UFN3J96CAZcw6LM5wbp1D8JdXCb6f4w3UFN3J96CAZcw6LM5wbp1D8JdXCb
                        seq: 0
                        slot: 318442901
                        blockTime: '2026-08-30T21:14:22Z'
                        fromOwner: HLDoLKj9p8xFdCKpffq7xNpPd3ACapACP
                        toOwner: HLDAXhwhoQo8vntbEMc231443cEQijZ4B
                        priceLamports: '12500000000'
                        marketplace: Tensor
                      - id: '812004'
                        kind: transfer
                        signature: SgnjWg8D9pwULg5n9KepSt3JC8NE4m9Cs7xjWg8D9pwULg5n9KepSt3JC8NE4m9Cs7xjWg8D9pwULg5n9KepSt3
                        seq: 0
                        slot: 301118742
                        blockTime: '2026-04-02T09:31:55Z'
                        fromOwner: null
                        toOwner: HLDoLKj9p8xFdCKpffq7xNpPd3ACapACP
                        priceLamports: null
                        marketplace: null
                      - id: '104221'
                        kind: burn
                        signature: SgnPW1e7fo8nKW3bxFEuLqNZnkMRYhWmvPrPW1e7fo8nKW3bxFEuLqNZnkMRYhWmvPrPW1e7fo8nKW3bxFEuLqN
                        seq: 1
                        slot: 210044119
                        blockTime: '2024-06-11T13:20:07Z'
                        fromOwner: HLDz7xArdTQeiCeKHg3VqhhNXzZGH5qBS
                        toOwner: null
                        priceLamports: null
                        marketplace: null
                      - id: '10001'
                        kind: mint
                        signature: SgnS8C2hGJTEB8gKuwtW4rzQxwsYFg3JGZYS8C2hGJTEB8gKuwtW4rzQxwsYFg3JGZYS8C2hGJTEB8gKuwtW4rz
                        seq: 0
                        slot: 97441201
                        blockTime: '2021-09-14T17:03:11Z'
                        fromOwner: null
                        toOwner: HLDz7xArdTQeiCeKHg3VqhhNXzZGH5qBS
                        priceLamports: null
                        marketplace: null
                    nextCursor: null
                    hasMore: false
        '304': { $ref: '#/components/responses/NotModified' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/nfts/{id}/owners:
    get:
      operationId: getNftOwners
      tags: [nfts]
      summary: Ownership history for one NFT
      description: >-
        Newest first. Intervals never overlap (enforced in the database), so
        `fromSlot` uniquely identifies a row for this asset. At most one
        interval is open; a burned or not-yet-backfilled asset has none. A row
        already returned can later gain `toSlot`/`toTs` when its interval
        closes.
      parameters:
        - $ref: '#/components/parameters/NftId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: A page of ownership intervals, newest first.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Vary: { $ref: '#/components/headers/Vary' }
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OwnershipPage' }
              examples:
                history:
                  summary: One open interval and one closed
                  value:
                    data:
                      - owner: HLDAXhwhoQo8vntbEMc231443cEQijZ4B
                        fromSlot: 318442901
                        fromTs: '2026-08-30T21:14:22Z'
                        toSlot: null
                        toTs: null
                        isCurrent: true
                        openedBySignature: SgnCAZcw6LM5wbp1D8JdXCb6f4w3UFN3J96CAZcw6LM5wbp1D8JdXCb6f4w3UFN3J96CAZcw6LM5wbp1D8JdXCb
                        closedBySignature: null
                      - owner: HLDoLKj9p8xFdCKpffq7xNpPd3ACapACP
                        fromSlot: 301118742
                        fromTs: '2026-04-02T09:31:55Z'
                        toSlot: 318442901
                        toTs: '2026-08-30T21:14:22Z'
                        isCurrent: false
                        openedBySignature: null
                        closedBySignature: SgnCAZcw6LM5wbp1D8JdXCb6f4w3UFN3J96CAZcw6LM5wbp1D8JdXCb6f4w3UFN3J96CAZcw6LM5wbp1D8JdXCb
                    nextCursor: null
                    hasMore: false
        '304': { $ref: '#/components/responses/NotModified' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/wallets/{address}/nfts:
    get:
      operationId: getWalletPortfolio
      tags: [wallets]
      summary: A wallet's holdings across every indexed collection
      description: >-
        An unknown wallet is `200` with `totalCount: 0` and empty arrays, never
        `404` — "no pigs indexed" is a legitimate answer and the Explorer needs
        the empty state. Burned assets never appear (a burned asset has no
        owner). The grid has no `sort` parameter: the backing index orders by
        collection then id.
      parameters:
        - $ref: '#/components/parameters/WalletAddress'
        - name: collection
          in: query
          required: false
          description: >-
            Narrow the `nfts` grid to one collection. `collections` and
            `totalCount` are unaffected by it.
          schema: { type: string, pattern: '^[a-z0-9]+(-[a-z0-9]+)*$', maxLength: 64 }
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: The portfolio.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Vary: { $ref: '#/components/headers/Vary' }
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WalletPortfolio' }
              examples:
                portfolio:
                  summary: A wallet holding across three collections
                  value:
                    address: HLDAXhwhoQo8vntbEMc231443cEQijZ4B
                    totalCount: 20
                    collections:
                      - collection: { slug: piggy-sol-gang, name: Piggy SOL Gang, imageUrl: null }
                        count: 12
                        holderRank: 3
                      - collection: { slug: piggy-gang, name: Piggy Gang, imageUrl: null }
                        count: 5
                        holderRank: 18
                      - collection: { slug: piggy-girl-gang, name: Piggy Girl Gang, imageUrl: null }
                        count: 3
                        holderRank: null
                    badges: []
                    nfts:
                      data:
                        - address: SYNarqd6dg3ZygtDhD8CNLqE8wPNdAqWv7
                          name: 'Piggy SOL Gang #1'
                          number: 1
                          imageUri: https://pub-b1a45763f0a64d8fa271f66f5514a561.r2.dev/old/images/1.png
                          imageStatus: ok
                          burned: false
                          owner: HLDAXhwhoQo8vntbEMc231443cEQijZ4B
                          lastActivityAt: '2026-08-30T21:14:22Z'
                          rarityRank: null
                          rarityScore: null
                          collection: { slug: piggy-sol-gang, name: Piggy SOL Gang, imageUrl: null }
                      nextCursor: eyJ2IjoxLCJzIjoid2FsbGV0IiwiayI6WzEsIjEiXX0
                      hasMore: true
                emptyWallet:
                  summary: 'Nothing indexed for this wallet — `Prefer: example=emptyWallet`'
                  value:
                    address: HLDz7xArdTQeiCeKHg3VqhhNXzZGH5qBS
                    totalCount: 0
                    collections: []
                    badges: []
                    nfts: { data: [], nextCursor: null, hasMore: false }
        '304': { $ref: '#/components/responses/NotModified' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/search:
    get:
      operationId: search
      tags: [search]
      summary: Global smart search across every indexed collection
      description: |
        One box that understands what is pasted into it.

        * A base58 address resolves by lookup: a known mint routes to that NFT,
          a wallet holding indexed assets routes to that wallet, anything else
          resolves to nothing — `200` with an empty result, never `404`.
        * Anything else is text: `#N` matches the token number, otherwise a
          case-insensitive substring of the name, grouped by collection.

        `route` is the server's opinion about where the Enter key should go;
        `groups` is what the palette lists. Both are always present.
      parameters:
        - name: q
          in: query
          required: true
          description: The raw search input.
          schema: { type: string, minLength: 1, maxLength: 64 }
        - name: collection
          in: query
          required: false
          description: Restrict text results to a single collection.
          schema: { type: string, pattern: '^[a-z0-9]+(-[a-z0-9]+)*$', maxLength: 64 }
        - name: limit
          in: query
          required: false
          description: Maximum NFT results per collection group.
          schema: { type: integer, minimum: 1, maximum: 25, default: 10 }
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Search results.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
            Cache-Control: { $ref: '#/components/headers/CacheControl' }
            Vary: { $ref: '#/components/headers/Vary' }
            X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
            X-RateLimit-Remaining: { $ref: '#/components/headers/XRateLimitRemaining' }
            X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SearchResponse' }
              examples:
                byNumber:
                  summary: '"#1" — grouped NFT hits'
                  value:
                    query: '#1'
                    interpretedAs: number
                    route: null
                    wallet: null
                    groups:
                      - collection: { slug: piggy-sol-gang, name: Piggy SOL Gang, imageUrl: null }
                        total: 1
                        nfts:
                          - address: SYNarqd6dg3ZygtDhD8CNLqE8wPNdAqWv7
                            name: 'Piggy SOL Gang #1'
                            number: 1
                            imageUri: https://pub-b1a45763f0a64d8fa271f66f5514a561.r2.dev/old/images/1.png
                            imageStatus: ok
                            burned: false
                            owner: HLDAXhwhoQo8vntbEMc231443cEQijZ4B
                            lastActivityAt: '2026-08-30T21:14:22Z'
                            rarityRank: null
                            rarityScore: null
                            collection: { slug: piggy-sol-gang, name: Piggy SOL Gang, imageUrl: null }
                byMint:
                  summary: 'A pasted mint routes straight to the NFT — `Prefer: example=byMint`'
                  value:
                    query: SYNarqd6dg3ZygtDhD8CNLqE8wPNdAqWv7
                    interpretedAs: address
                    route: { kind: nft, id: SYNarqd6dg3ZygtDhD8CNLqE8wPNdAqWv7 }
                    wallet: null
                    groups: []
                byWallet:
                  summary: 'A pasted wallet routes to the portfolio — `Prefer: example=byWallet`'
                  value:
                    query: HLDAXhwhoQo8vntbEMc231443cEQijZ4B
                    interpretedAs: address
                    route: { kind: wallet, id: HLDAXhwhoQo8vntbEMc231443cEQijZ4B }
                    wallet: { address: HLDAXhwhoQo8vntbEMc231443cEQijZ4B, totalCount: 20 }
                    groups: []
                nothing:
                  summary: 'Nothing indexed — `Prefer: example=nothing`'
                  value:
                    query: SYNu6skvdET1pB8qq9EAwQ3Lj7G98W8ZQC
                    interpretedAs: address
                    route: null
                    wallet: null
                    groups: []
        '304': { $ref: '#/components/responses/NotModified' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

components:
  parameters:
    CollectionSlug:
      name: slug
      in: path
      required: true
      description: The collection's URL slug.
      schema:
        type: string
        pattern: '^[a-z0-9]+(-[a-z0-9]+)*$'
        maxLength: 64
      example: piggy-sol-gang

    NftId:
      name: id
      in: path
      required: true
      description: >-
        The NFT's on-chain address — the mint for Token Metadata assets, the
        asset id for Metaplex Core. Internal database ids are never exposed.
      schema:
        type: string
        pattern: '^[1-9A-HJ-NP-Za-km-z]{32,44}$'
      example: SYNarqd6dg3ZygtDhD8CNLqE8wPNdAqWv7

    WalletAddress:
      name: address
      in: path
      required: true
      description: A Solana wallet address.
      schema:
        type: string
        pattern: '^[1-9A-HJ-NP-Za-km-z]{32,44}$'
      example: HLDAXhwhoQo8vntbEMc231443cEQijZ4B

    TraitFilter:
      name: trait
      in: query
      required: false
      style: deepObject
      explode: true
      description: |
        Attribute filter, expressed with bracketed keys:

            ?trait[Background]=Pink&trait[Background]=Blue&trait[Head]=Crown

        Repeating a trait type ORs its values; distinct trait types AND
        together. Trait type names and values are matched **exactly and
        case-sensitively** against the collection's own dictionary —
        `Background` and `background` are different keys and only one exists.

        Brackets may be sent literally or percent-encoded (`%5B` / `%5D`).

        Unknown input is never a 4xx, so a bookmarked URL survives a metadata
        refresh: an unknown trait *type* yields an empty result set and
        `facets: []`; an unknown *value* still counts its type as selected, so
        it matches nothing and every other type's counts collapse to zero.

        At most 16 distinct trait types and 64 values per request.

        TOOLING NOTE: OpenAPI 3.1 states that for `deepObject` "the
        representation of array or object properties is not defined", so this
        wire format — not any generator's interpretation of it — is normative.
        openapi-fetch's default query serializer throws on this shape; supply a
        custom `querySerializer` (the repository README has one). Prism ignores
        this parameter entirely, so the mock returns the same page with or
        without it.
      schema:
        type: object
        additionalProperties:
          type: array
          minItems: 1
          maxItems: 64
          items:
            type: string
            minLength: 1
            maxLength: 128
      example:
        Background: [Pink, Blue]
        Head: [Crown]

    Q:
      name: q
      in: query
      required: false
      description: |
        Text search — exactly three OR'd predicates, and nothing more:

          1. base58 address **prefix**, case-sensitive;
          2. exact token number, when the input looks like `#N` or `N`;
          3. case-insensitive **substring** of the name.

        This is not fuzzy and not typo-tolerant: `Pnk` does not find `Pink`.
        Surrounding whitespace is trimmed, an empty result is treated as absent,
        and `%`, `_` and `\` match literally.
      schema:
        type: string
        minLength: 1
        maxLength: 64
      example: '#1234'

    Sort:
      name: sort
      in: query
      required: false
      description: |
        A leading `-` means descending; each direction is a scan of the same
        index. There is deliberately no price or mint-date sort — no such column
        exists.

        `name` sorts by **byte order**, not locale: `#1` < `#10` < `#2`, and
        uppercase sorts before lowercase. Assets with no number sort last under
        `number`; assets that have never been active sort first under
        `activity`.

        `rarity` and `-rarity` are reserved so the client union stays stable
        when rarity scoring ships; until then they return
        `422 unsupported_sort`.
      schema:
        type: string
        default: number
        enum: [number, '-number', name, '-name', activity, '-activity', rarity, '-rarity']

    ActivityKindFilter:
      name: kind
      in: query
      required: false
      style: form
      explode: true
      description: 'Repeat to OR: `?kind=sale&kind=transfer`. Omit for all public kinds.'
      schema:
        type: array
        uniqueItems: true
        maxItems: 4
        items:
          type: string
          enum: [mint, transfer, sale, burn]

    Limit:
      name: limit
      in: query
      required: false
      description: >-
        Page size. The default 24 divides by 2, 3, 4 and 6, so a grid has no
        ragged last row at any common column count. Exceeding the maximum is
        `422`, never a silent clamp.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 24

    Cursor:
      name: cursor
      in: query
      required: false
      description: >-
        Opaque keyset cursor. Echo `nextCursor` verbatim; never decode, parse or
        construct one. Valid only for the endpoint, sort and filter set that
        issued it, and not guaranteed stable across deploys — treat
        `400 invalid_cursor` as normal and restart from page one.
      schema:
        type: string
        pattern: '^[A-Za-z0-9_-]{8,512}$'

    IfNoneMatch:
      name: If-None-Match
      in: header
      required: false
      description: Echo a previously received `ETag` to receive `304` with no body.
      schema: { type: string }
      example: 'W/"1f0a2b3c4d5e6f70"'

  headers:
    ETag:
      description: >-
        Weak validator over the response body. Weak because the same resource
        may be served with different content codings.
      schema: { type: string }
      example: 'W/"1f0a2b3c4d5e6f70"'
    CacheControl:
      description: >-
        Always `public` with a short `max-age`. The exact value is operational
        and may change without a version bump — depend on the header's presence,
        not its value.
      schema: { type: string }
      example: public, max-age=15, stale-while-revalidate=30
    Vary:
      description: Response varies by encoding and by CORS origin.
      schema: { type: string }
      example: Accept-Encoding, Origin
    XRateLimitLimit:
      description: Requests permitted in the current window.
      schema: { type: integer }
      example: 120
    XRateLimitRemaining:
      description: Requests left in the current window.
      schema: { type: integer }
      example: 118
    XRateLimitReset:
      description: >-
        Unix timestamp (seconds, UTC) at which the window resets — absolute,
        unlike `Retry-After`, which is delta-seconds.
      schema: { type: integer }
      example: 1788240600
    RetryAfter:
      description: Seconds to wait before retrying.
      schema: { type: integer, minimum: 1 }
      example: 12

  responses:
    NotModified:
      description: >-
        The client's `If-None-Match` matched. No body. Validators are repeated so
        the client can refresh its freshness window without a second round trip.
      headers:
        ETag: { $ref: '#/components/headers/ETag' }
        Cache-Control: { $ref: '#/components/headers/CacheControl' }
        Vary: { $ref: '#/components/headers/Vary' }
        X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
        X-RateLimit-Remaining: { $ref: '#/components/headers/XRateLimitRemaining' }
        X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }

    BadRequest:
      description: A parameter could not be parsed, or a cursor no longer applies.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          examples:
            badAddress:
              summary: Not a base58 address
              value:
                error: invalid_parameter
                message: '`id` is not a base58 address'
                details: { parameter: id }
            staleCursor:
              summary: Cursor issued for a different sort or filter set
              value:
                error: invalid_cursor
                message: cursor was issued for a different sort or filter set
                details: { parameter: cursor }

    NotFound:
      description: >-
        No such resource. Applies to unknown or disabled collection slugs and to
        unknown NFT addresses. Never used for wallets — an unknown wallet is
        `200` with an empty portfolio.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          examples:
            unknownSlug:
              value:
                error: not_found
                message: 'no enabled collection with slug `piggy-cows`'
                details: { slug: piggy-cows }

    UnprocessableEntity:
      description: Syntactically valid but semantically rejected.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          examples:
            rarityNotReady:
              summary: Rarity sorting is reserved but not yet available
              value:
                error: unsupported_sort
                message: sort=rarity is not available until rarity scoring ships
                details:
                  parameter: sort
                  supported: [number, '-number', name, '-name', activity, '-activity']

    RateLimited:
      description: Too many requests.
      headers:
        Retry-After: { $ref: '#/components/headers/RetryAfter' }
        X-RateLimit-Limit: { $ref: '#/components/headers/XRateLimitLimit' }
        X-RateLimit-Remaining: { $ref: '#/components/headers/XRateLimitRemaining' }
        X-RateLimit-Reset: { $ref: '#/components/headers/XRateLimitReset' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          examples:
            limited:
              value:
                error: rate_limited
                message: rate limit exceeded; retry after 12 s
                details: { retryAfter: 12 }

    InternalError:
      description: >-
        Unexpected server error. `message` is generic on purpose; correlate with
        the API logs by timestamp.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          examples:
            boom:
              value:
                error: internal
                message: internal server error
                details: null

  schemas:
    Address:
      type: string
      pattern: '^[1-9A-HJ-NP-Za-km-z]{32,44}$'
      description: >-
        Base58 Solana public key. Compared byte-exactly — every address column
        uses the C collation.
      examples: [SYNarqd6dg3ZygtDhD8CNLqE8wPNdAqWv7]

    Signature:
      type: string
      pattern: '^[1-9A-HJ-NP-Za-km-z]{86,88}$'
      description: Base58 transaction signature.

    Slug:
      type: string
      pattern: '^[a-z0-9]+(-[a-z0-9]+)*$'
      maxLength: 64
      description: A collection's URL slug.
      examples: [piggy-sol-gang]

    Lamports:
      type: string
      pattern: '^(0|[1-9][0-9]{0,19})$'
      description: >-
        A lamport amount as a decimal string (1 SOL = 1,000,000,000 lamports).
        A string rather than a number so the full u64 range round-trips exactly
        and so nobody divides by 1e9 in floating point. Parse with BigInt or a
        decimal library.
      examples: ['12500000000']

    Int64String:
      type: string
      pattern: '^(0|[1-9][0-9]{0,18})$'
      description: >-
        A 64-bit identifier as a decimal string. Opaque — never parse it, never
        put it in a URL path.

    Cursor:
      type: string
      pattern: '^[A-Za-z0-9_-]{8,512}$'
      description: Opaque keyset cursor. Round-trip verbatim.

    ImageStatus:
      type: string
      enum: [unknown, ok, dead]
      description: >-
        Reachability of `imageUri`. `dead` means the 2021-era host is gone —
        render a placeholder rather than a broken image. `unknown` means it has
        not been checked; load it optimistically.

    Standard:
      type: string
      enum: [token_metadata, core]
      description: The token standard. A collection cannot mix standards.

    MembershipRule:
      type: string
      enum: [core_collection, tm_collection, tm_allowlist]
      description: >-
        How membership is derived. `core_collection` grows on its own as assets
        are minted into it; `tm_allowlist` is a closed, committed mint list.

    ActivityKind:
      type: string
      enum: [mint, transfer, sale, burn, stake, unstake, other]
      description: >-
        The full set the indexer classifies. v1 serves only `mint`, `transfer`,
        `sale` and `burn`; the rest are **reserved** and may begin appearing
        without a version bump. Clients must tolerate every member — treat an
        unrecognised kind as a generic timeline entry rather than crashing.

    CollectionRef:
      type: object
      additionalProperties: false
      description: >-
        Compact collection identity, carried by every NFT card so cross-
        collection grids render a badge without a second request.
      required: [slug, name, imageUrl]
      properties:
        slug: { $ref: '#/components/schemas/Slug' }
        name: { type: string, maxLength: 128 }
        imageUrl:
          type: [string, 'null']
          description: >-
            Collection artwork. Null for every collection today — the column
            exists but no value is configured yet.

    Collection:
      type: object
      additionalProperties: false
      description: >-
        A registered, enabled collection. Disabled collections are never
        returned, so `enabled` is not serialized.
      required: [slug, name, standard, membershipRule, address, symbol, imageUrl, stats]
      properties:
        slug: { $ref: '#/components/schemas/Slug' }
        name: { type: string, maxLength: 128 }
        standard: { $ref: '#/components/schemas/Standard' }
        membershipRule: { $ref: '#/components/schemas/MembershipRule' }
        address:
          oneOf:
            - $ref: '#/components/schemas/Address'
            - type: 'null'
          description: >-
            The Core collection address, or the certified Token Metadata
            collection mint. Null for allowlist collections — the three Piggy
            Token Metadata collections have no certified collection on chain.
        symbol:
          type: [string, 'null']
          maxLength: 10
        imageUrl:
          type: [string, 'null']
        stats:
          oneOf:
            - $ref: '#/components/schemas/CollectionStats'
            - type: 'null'

    CollectionStats:
      type: object
      additionalProperties: false
      description: Short-TTL cached aggregates.
      required:
        [supply, holders, burned, indexed, activity24h, activity7d,
         lastActivityAt, holderDistribution, asOf]
      properties:
        supply:
          type: integer
          minimum: 0
          description: Member assets, **excluding** burned.
        holders:
          type: integer
          minimum: 0
          description: Distinct current owners. Burned assets have no owner, so they drop out.
        burned:
          type: integer
          minimum: 0
        indexed:
          type: integer
          minimum: 0
          description: >-
            The browse population — members including burned, i.e.
            `supply + burned`. This is the unfiltered result count for the
            browse endpoint.
        activity24h:
          type: integer
          minimum: 0
          description: >-
            Events in the last 24 hours. Counts **all** classified kinds, so it
            can exceed the number of events the public timeline shows.
        activity7d:
          type: integer
          minimum: 0
          description: Events in the last 7 days, with the same caveat as `activity24h`.
        lastActivityAt:
          type: [string, 'null']
          format: date-time
        holderDistribution:
          type: array
          description: >-
            Holder cohorts. An array rather than fixed fields so the bucket
            edges can be retuned without a contract change. `assets` sums to
            `supply`.
          items: { $ref: '#/components/schemas/HolderBucket' }
        asOf:
          type: string
          format: date-time
          description: When these numbers were computed.

    HolderBucket:
      type: object
      additionalProperties: false
      required: [label, minCount, maxCount, holders, assets]
      properties:
        label: { type: string, examples: ['2-5'] }
        minCount: { type: integer, minimum: 1 }
        maxCount:
          type: [integer, 'null']
          description: Null means unbounded.
        holders: { type: integer, minimum: 0 }
        assets: { type: integer, minimum: 0 }

    NftSummary:
      type: object
      # No additionalProperties/unevaluatedProperties here: this schema is an
      # allOf base (see NftDetail), and closing a base rejects the extension's
      # own properties. The composed schemas close themselves with
      # `unevaluatedProperties: false`, which is the 2020-12 idiom for this.
      description: >-
        The grid card — one asset row plus its collection badge. Burned assets
        are part of the browse population; `burned` is what greys the card out.
      required:
        [address, name, number, imageUri, imageStatus, burned, owner,
         lastActivityAt, rarityRank, rarityScore, collection]
      properties:
        address:
          $ref: '#/components/schemas/Address'
        name:
          type: string
          description: May be the empty string before the metadata backfill has run.
        number:
          type: [integer, 'null']
          description: >-
            The `#N` parsed out of the name, or null when the name has none.
            Unnumbered assets sort last under `sort=number`.
        imageUri:
          type: [string, 'null']
          description: >-
            Where the image actually lives — already the re-hosted URL for
            collections whose original host is gone. Not validated as a URI:
            2021-era metadata carries `ipfs://`, `ar://` and worse.
        imageStatus: { $ref: '#/components/schemas/ImageStatus' }
        burned: { type: boolean }
        owner:
          oneOf:
            - $ref: '#/components/schemas/Address'
            - type: 'null'
          description: Current owner. Null when burned or not yet known.
        lastActivityAt:
          type: [string, 'null']
          format: date-time
        rarityRank:
          type: [integer, 'null']
          minimum: 1
          description: Reserved — always null until rarity scoring ships.
        rarityScore:
          type: [number, 'null']
          description: Reserved — always null until rarity scoring ships.
        collection: { $ref: '#/components/schemas/CollectionRef' }

    # NOTE ON allOf AND CLOSED OBJECTS: NftSummary/ActivityEvent are allOf
    # bases and NftDetail/CollectionActivityEvent compose them, so none of the
    # four sets `additionalProperties: false` — closing a base rejects the
    # extension's own fields, and `unevaluatedProperties` is not resolved
    # across `allOf` + `$ref` by the validators in this toolchain (Redocly and
    # most codegen). Every other schema in this document is closed. Drift in
    # these four is caught by the Explorer's generated client and by ALG-625's
    # contract tests instead.
    NftDetail:
      allOf:
        - $ref: '#/components/schemas/NftSummary'
        - type: object
          description: Everything that needs a second table.
          required:
            [standard, symbol, membershipStatus, removedAt, metadataUri,
             metadataSourceUri, imageCheckedAt, updatedAt, attributes,
             ownership, mint, activitySummary]
          properties:
            standard: { $ref: '#/components/schemas/Standard' }
            symbol: { type: [string, 'null'] }
            membershipStatus:
              type: string
              enum: [member, removed]
              description: >-
                Always `member` in list responses. A Core asset whose update
                authority moved it out of the collection is still addressable
                here and reports `removed`.
            removedAt:
              type: [string, 'null']
              format: date-time
            metadataUri:
              type: [string, 'null']
              description: The URI recorded on chain. May point at a dead host.
            metadataSourceUri:
              type: [string, 'null']
              description: The URI actually fetched. This is the link that still resolves.
            imageCheckedAt:
              type: [string, 'null']
              format: date-time
            updatedAt:
              type: string
              format: date-time
            attributes:
              type: array
              description: >-
                All attributes, including non-facetable trait types — those are
                shown on the detail page but never appear in `/facets`.
              items: { $ref: '#/components/schemas/Attribute' }
            ownership: { $ref: '#/components/schemas/OwnerCard' }
            mint: { $ref: '#/components/schemas/MintInfo' }
            activitySummary: { $ref: '#/components/schemas/ActivitySummary' }

    Attribute:
      type: object
      additionalProperties: false
      required: [traitType, value, position, isFacet, rarityPct]
      properties:
        traitType:
          type: string
          description: >-
            Interned per collection — `Background` in two collections is two
            distinct trait types.
        value:
          type: string
          description: >-
            Exact and case-sensitive. Send this string back verbatim as
            `trait[<traitType>]=<value>` to filter on it.
        position:
          type: integer
          minimum: 0
          description: >-
            Display order from the source metadata. Not unique per asset, so
            render ordered by `(position, traitType, value)`.
        isFacet:
          type: boolean
          description: >-
            False means the trait is shown as a chip but excluded from facets —
            such a chip must not link to a filtered browse URL.
        rarityPct:
          type: [number, 'null']
          minimum: 0
          maximum: 100
          description: Reserved — always null until rarity scoring ships.

    OwnerCard:
      type: object
      additionalProperties: false
      description: >-
        The owner card. `heldSince` comes from the open ownership interval, and
        is null when that interval disagrees with the observed owner rather than
        attributing a date to the wrong wallet.
      required: [owner, ownerSlot, heldSince, heldSinceSlot, acquiredBySignature]
      properties:
        owner:
          oneOf:
            - $ref: '#/components/schemas/Address'
            - type: 'null'
        ownerSlot:
          type: [integer, 'null']
          description: The slot at which ownership was observed.
        heldSince:
          type: [string, 'null']
          format: date-time
        heldSinceSlot:
          type: [integer, 'null']
        acquiredBySignature:
          oneOf:
            - $ref: '#/components/schemas/Signature'
            - type: 'null'
          description: >-
            Null means the interval has no known opening transaction — render
            "acquired in an unknown transaction", not an empty link.

    MintInfo:
      type: object
      additionalProperties: false
      description: >-
        There is no mint-date column; this comes from the mint event, so every
        field is null until the activity backfill has run for this asset.
      required: [mintedAt, mintSlot, signature]
      properties:
        mintedAt:
          type: [string, 'null']
          format: date-time
        mintSlot:
          type: [integer, 'null']
        signature:
          oneOf:
            - $ref: '#/components/schemas/Signature'
            - type: 'null'

    ActivitySummary:
      type: object
      additionalProperties: false
      description: The compact strip above the timeline.
      required:
        [salesCount, transferCount, ownerCount, lastSalePriceLamports,
         lastSaleAt, lastSaleMarketplace]
      properties:
        salesCount: { type: integer, minimum: 0 }
        transferCount: { type: integer, minimum: 0 }
        ownerCount: { type: integer, minimum: 0 }
        lastSalePriceLamports:
          oneOf:
            - $ref: '#/components/schemas/Lamports'
            - type: 'null'
        lastSaleAt:
          type: [string, 'null']
          format: date-time
        lastSaleMarketplace: { type: [string, 'null'] }

    ActivityEvent:
      type: object
      # Open for the same reason as NftSummary: it is an allOf base
      # (CollectionActivityEvent) and it applies if/then clauses of its own.
      description: |
        One event. Nullability is kind-dependent, and the `if`/`then` clauses
        below transcribe the database's own constraints so contract tests
        enforce them; code generators ignore them, which is the intended split —
        types for the client, constraints for the tests.

        Narrow client-side with a type guard:

            type Sale = ActivityEvent & { kind: 'sale'; priceLamports: string };
            const isSale = (e: ActivityEvent): e is Sale => e.kind === 'sale';
      required:
        [id, kind, signature, seq, slot, blockTime, fromOwner, toOwner,
         priceLamports, marketplace]
      properties:
        id:
          $ref: '#/components/schemas/Int64String'
        kind: { $ref: '#/components/schemas/ActivityKind' }
        signature: { $ref: '#/components/schemas/Signature' }
        seq:
          type: integer
          minimum: 0
          description: >-
            Ordinal of this asset's events within the transaction. Disambiguates
            two events for one asset in one transaction.
        slot:
          type: integer
          minimum: 0
          description: >-
            A JSON number, not a string: Solana's own RPC types slots as numbers
            and the value stays far below the safe-integer limit.
        blockTime:
          type: string
          format: date-time
          description: >-
            Never null — an event whose block time cannot be resolved is never
            classified in the first place.
        fromOwner:
          oneOf:
            - $ref: '#/components/schemas/Address'
            - type: 'null'
          description: >-
            Always null on `mint`. May be null on a transfer or sale — escrow-era
            marketplaces hide the sender, which is data, not an error.
        toOwner:
          oneOf:
            - $ref: '#/components/schemas/Address'
            - type: 'null'
          description: Always null on `burn`; never null on mint, transfer or sale.
        priceLamports:
          oneOf:
            - $ref: '#/components/schemas/Lamports'
            - type: 'null'
          description: Present exactly on `sale`.
        marketplace:
          type: [string, 'null']
          description: >-
            Free text, not an enum, so the classifier can learn new venues
            without a contract change. Only ever set on a sale, and may be null
            on a sale we could not attribute.
      allOf:
        - if:
            properties: { kind: { const: mint } }
            required: [kind]
          then:
            properties:
              fromOwner: { type: 'null' }
              toOwner: { $ref: '#/components/schemas/Address' }
        - if:
            properties: { kind: { const: burn } }
            required: [kind]
          then:
            properties:
              toOwner: { type: 'null' }
        - if:
            properties: { kind: { enum: [transfer, sale] } }
            required: [kind]
          then:
            properties:
              toOwner: { $ref: '#/components/schemas/Address' }
        - if:
            properties: { kind: { const: sale } }
            required: [kind]
          then:
            properties:
              priceLamports: { $ref: '#/components/schemas/Lamports' }
        - if:
            properties: { kind: { enum: [mint, transfer, burn] } }
            required: [kind]
          then:
            properties:
              priceLamports: { type: 'null' }
              marketplace: { type: 'null' }

    CollectionActivityEvent:
      allOf:
        - $ref: '#/components/schemas/ActivityEvent'
        - type: object
          required: [nft]
          properties:
            nft:
              $ref: '#/components/schemas/NftSummary'

    OwnershipInterval:
      type: object
      additionalProperties: false
      description: >-
        One ownership interval. Intervals never overlap, so `fromSlot`
        identifies a row uniquely for this asset.
      required:
        [owner, fromSlot, fromTs, toSlot, toTs, isCurrent, openedBySignature,
         closedBySignature]
      properties:
        owner: { $ref: '#/components/schemas/Address' }
        fromSlot: { type: integer, minimum: 0 }
        fromTs: { type: string, format: date-time }
        toSlot:
          type: [integer, 'null']
          description: Null while the interval is open.
        toTs:
          type: [string, 'null']
          format: date-time
        isCurrent:
          type: boolean
          description: True exactly when the interval is open.
        openedBySignature:
          oneOf:
            - $ref: '#/components/schemas/Signature'
            - type: 'null'
        closedBySignature:
          oneOf:
            - $ref: '#/components/schemas/Signature'
            - type: 'null'

    Holder:
      type: object
      additionalProperties: false
      required: [address, count, rank]
      properties:
        address: { $ref: '#/components/schemas/Address' }
        count:
          type: integer
          minimum: 1
          description: Assets of this collection held by the wallet.
        rank:
          type: [integer, 'null']
          minimum: 1
          description: >-
            One-based; ties share the lower rank and skip the next values. Null
            when the server chose not to compute it.

    HoldersResponse:
      type: object
      additionalProperties: false
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Holder' }

    WalletCollectionHolding:
      type: object
      additionalProperties: false
      required: [collection, count, holderRank]
      properties:
        collection: { $ref: '#/components/schemas/CollectionRef' }
        count: { type: integer, minimum: 1 }
        holderRank:
          type: [integer, 'null']
          minimum: 1
          description: >-
            Rank among this collection's holders. Nullable on purpose —
            computing it requires a full pass over the collection's owners, so
            the server may omit it under load.

    Badge:
      type: object
      additionalProperties: false
      description: >-
        Open-ended by design: `code` is a plain string, not an enum, so adding a
        badge is never a breaking change.
      required: [code, label, collectionSlug, value]
      properties:
        code: { type: string, examples: [full_gang] }
        label: { type: string }
        collectionSlug:
          oneOf:
            - $ref: '#/components/schemas/Slug'
            - type: 'null'
          description: Null for portfolio-wide badges.
        value: { type: [integer, 'null'] }

    WalletPortfolio:
      type: object
      additionalProperties: false
      required: [address, totalCount, collections, badges, nfts]
      properties:
        address: { $ref: '#/components/schemas/Address' }
        totalCount:
          type: integer
          minimum: 0
          description: Assets held across every enabled collection.
        collections:
          type: array
          description: >-
            The full grouping, never paginated — it is bounded by the number of
            enabled collections. Collections with no holdings are omitted;
            ordered by count descending.
          items: { $ref: '#/components/schemas/WalletCollectionHolding' }
        badges:
          type: array
          description: >-
            Always empty in v1. Badge membership is a registry concept, and
            hard-coding a set of slugs in the API would contradict this project's
            rule that collection membership is data, never code. Derive
            client-side instead: a "full set" badge is `collections.length`
            equal to the number of entries `/v1/collections` returns, which
            stays correct when a collection is added. The field is frozen here
            so the server can populate it later without a contract change.
          items: { $ref: '#/components/schemas/Badge' }
        nfts: { $ref: '#/components/schemas/NftPage' }

    SearchRoute:
      type: object
      additionalProperties: false
      description: >-
        Where the Enter key should go. Precedence: an exact mint beats a wallet
        with holdings, which beats an exact collection slug. Never returned when
        the best hit is fuzzy.
      required: [kind, id]
      properties:
        kind:
          type: string
          enum: [nft, wallet, collection]
        id:
          type: string
          description: >-
            The path segment to navigate to — an address for `nft` and `wallet`,
            a slug for `collection`.

    WalletHit:
      type: object
      additionalProperties: false
      required: [address, totalCount]
      properties:
        address: { $ref: '#/components/schemas/Address' }
        totalCount: { type: integer, minimum: 1 }

    SearchGroup:
      type: object
      additionalProperties: false
      required: [collection, total, nfts]
      properties:
        collection: { $ref: '#/components/schemas/CollectionRef' }
        total:
          type: integer
          minimum: 1
          description: Exact number of matches in this collection.
        nfts:
          type: array
          maxItems: 25
          description: >-
            A capped preview, not paginated — deep results belong on the browse
            page with `?q=`.
          items: { $ref: '#/components/schemas/NftSummary' }

    SearchResponse:
      type: object
      additionalProperties: false
      required: [query, interpretedAs, route, wallet, groups]
      properties:
        query: { type: string }
        interpretedAs:
          type: string
          enum: [text, number, address]
          description: How the server parsed the input.
        route:
          oneOf:
            - $ref: '#/components/schemas/SearchRoute'
            - type: 'null'
          description: >-
            Null with empty `groups` and null `wallet` means nothing is indexed
            for this input.
        wallet:
          oneOf:
            - $ref: '#/components/schemas/WalletHit'
            - type: 'null'
          description: Set only when the input is an address that owns indexed assets.
        groups:
          type: array
          description: NFT hits grouped by collection, most hits first.
          items: { $ref: '#/components/schemas/SearchGroup' }

    CollectionPage:
      type: object
      additionalProperties: false
      required: [data, nextCursor, hasMore]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Collection' }
        nextCursor:
          oneOf:
            - $ref: '#/components/schemas/Cursor'
            - type: 'null'
        hasMore:
          type: boolean
          description: Always equal to `nextCursor !== null`. Never computed with a COUNT.

    NftPage:
      type: object
      additionalProperties: false
      description: >-
        A keyset page of cards. No total — see the pagination notes; the
        filtered count is `FacetsResponse.total` and the unfiltered one is
        `CollectionStats.indexed`.
      required: [data, nextCursor, hasMore]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/NftSummary' }
        nextCursor:
          oneOf:
            - $ref: '#/components/schemas/Cursor'
            - type: 'null'
        hasMore: { type: boolean }

    ActivityPage:
      type: object
      additionalProperties: false
      required: [data, nextCursor, hasMore]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/ActivityEvent' }
        nextCursor:
          oneOf:
            - $ref: '#/components/schemas/Cursor'
            - type: 'null'
        hasMore: { type: boolean }

    CollectionActivityPage:
      type: object
      additionalProperties: false
      required: [data, nextCursor, hasMore]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/CollectionActivityEvent' }
        nextCursor:
          oneOf:
            - $ref: '#/components/schemas/Cursor'
            - type: 'null'
        hasMore: { type: boolean }

    OwnershipPage:
      type: object
      additionalProperties: false
      required: [data, nextCursor, hasMore]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/OwnershipInterval' }
        nextCursor:
          oneOf:
            - $ref: '#/components/schemas/Cursor'
            - type: 'null'
        hasMore: { type: boolean }

    FacetValue:
      type: object
      additionalProperties: false
      required: [value, count]
      properties:
        value:
          type: string
          description: Exact and case-sensitive; send it back verbatim to filter on it.
        count: { type: integer, minimum: 0 }

    Facet:
      type: object
      additionalProperties: false
      required: [traitType, values]
      properties:
        traitType: { type: string }
        values:
          type: array
          description: Ordered by count descending, then value.
          items: { $ref: '#/components/schemas/FacetValue' }

    FacetsResponse:
      type: object
      additionalProperties: false
      required: [total, facets]
      properties:
        total:
          type: integer
          minimum: 0
          description: >-
            Size of the result set under the active filters — the number the
            browse grid displays. It lives here because this endpoint already
            pays for the scan.
        facets:
          type: array
          description: Ordered by trait type name.
          items: { $ref: '#/components/schemas/Facet' }

    Error:
      type: object
      additionalProperties: false
      required: [error, message]
      properties:
        error:
          type: string
          enum:
            - invalid_parameter
            - invalid_cursor
            - unsupported_sort
            - not_found
            - rate_limited
            - internal
          description: Machine-readable code. Switch on this.
        message:
          type: string
          description: Human-readable. Never parse it.
        details:
          type: [object, 'null']
          additionalProperties: true
          description: Machine-usable context, or null when there is nothing to add.
